
        <aside class="sidebar">

            <h3>ANGELO VICTOR</h3>

            <div class="side-group">
                <strong>Meus Favoritos</strong>

                <div class="side-link">Link 1</div>
                <div class="side-link">Link 2</div>
                <div class="side-link">Link 3</div>
            </div>

            <div class="side-group">

                <strong>Projetos</strong>

                <div class="side-link" data-tab="guilherme">Saúde | Continuum</div>
                <div class="side-link">Contação de Histórias</div>
                <div class="side-link">Navegando - 4 Eixos</div>
                <div class="side-link">Livros Cada Passo</div>
<!--                <div class="side-link">Parecer PRISMA</div>
                <div class="side-link">Jornada Musical</div>
-->
            </div>


        </aside>
